---
import MainLayout from "@/layout/MainLayout.astro";
---

<MainLayout>

	<h1 class="text-3xl">Home Page</h1>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque ex distinctio modi exercitationem fugiat, pariatur inventore dolorum tempore? Sint consequuntur temporibus neque numquam, accusamus molestiae odit cum placeat aliquam molestias assumenda amet, quisquam porro vero tenetur ad unde laboriosam eveniet aliquid sit. Expedita voluptatibus nobis nemo ipsa labore rerum eligendi quasi fugit facere, odit eos sed aspernatur nulla saepe, amet cumque? Facilis eveniet, ipsam quis repellendus assumenda, sit voluptatem aperiam modi accusamus maxime dolor eaque ullam adipisci tempora. Magnam dignissimos vel ipsam nemo, placeat eos voluptas veniam quibusdam repellat ea? Sequi voluptatum aperiam atque dolor sed explicabo exercitationem quo minus.
	</p>
</MainLayout>