--- 
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <Breadcrumbs title="404" />

  <section class="section">
    <div class="container">
      <h2>Page not found</h2>
      <p>Sorry, the page you are looking for does not exist.</p>
    </div>
  </section>
</Layout>
