---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página no encontrado">
  <section class="p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">Estas perdido?</h1>
    <p class="text-zinc-300">No existe la ruta.</p>
  </section>
</Layout>
