---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <section class="p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">About</h1>
    <p class="text-zinc-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nisi
      qui quia harum asperiores porro necessitatibus magni ullam blanditiis
      dolore non quidem reiciendis quisquam impedit dolorem quis, facilis
      excepturi esse. Ut, fuga consequuntur optio maxime voluptas sint tenetur.
      Ea aliquid nisi, dignissimos vitae et quam quaerat voluptas enim
      doloremque error voluptatem quidem in alias commodi deleniti eos impedit.
      Nesciunt autem eligendi neque dolores velit nam itaque quas rem incidunt
      quis! Possimus quidem quod, odio maiores consectetur suscipit vitae
      aliquam porro rem recusandae aperiam rerum placeat saepe iusto facilis
      esse consequatur sit! Amet, reiciendis voluptas vitae praesentium deleniti
      nobis expedita voluptate.
    </p>
  </section>
</Layout>
